#mercury{
    width:100%;
    height: 100%;
    background: #999090;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}

.circle {
    height: 50px;
    width: 50px;
    background: radial-gradient(ellipse at center, lightgrey, grey);
    border-radius: 50%;
}

#venus{
    width:100%;
    height: 100;
    background: #dbd5b0;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}
    
#earth{
    width:100%;
    height: 100%;
    background: #1035ac;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}

#mars{
    width:100%;
    height: 100%;
    background: #e27b58;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}

#jupiter{
    width:100%;
    height: 100%;
    background: #f8ccaf;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}

#saturn{
    width:100%;
    height: 100%;
    background: #c3a171;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}

#uranus{
    width: 100%;
    height: 100%;
    background-color: #ace5ee ;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}

#neptune{
    width:100%;
    height: 100%;
    background: #3050bd;
    display: flex;
    justify-content: bottom left;
    align-items: center;
    overflow: hidden;
}